// Après le float, ajoute une table avec un clear both qui force la suite des éléments a aller a la ligne
@mixin clearfix {
    &::after{
        content:"";
        display: table;
        clear: both;;
    }
}