.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem;
    font-size: $default-font-size;
    transform: skewX(-12deg);

    &__shape {
        // Pour que le shape outside fonctionne, il faut que ses dimensions soit defini, qu'il soit en float 
        width: 15rem;
        height: 15rem;
        float: left;
        // Circle (radius at (origine)) ici l'origine et à 50% 50% pour indiquer le centre. le Radius a 50% est de 7.5rem, la moitié de whidth et height
        -webkit-shape-outside: circle(50% at 50% 50%);
        shape-outside: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        clip-path: circle(50% at 50% 50%);
        transform: translateX((-3rem)) skewX(12deg);
        position: relative;
    }

    &__image {
        height: 100%;
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        // 20% en y pour ensuite le ramener a -50 avec l'animation
        transform: translate(-50%, 20%);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        // Pour le rendre invisible. on va ensuite le mettre à 1 avec l'animation
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }


    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, -50%);
    }

    &:hover &__image{
        transform: scale(100%);
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(95%);
    }
}